body {
    font-family: Arial;
}

.portfolioFilter {
    text-align: center;
    margin-bottom: 10px;
}

.portfolioFilter a {
    margin-right: 10px;
    color:#666;
    text-decoration:none;
}

.galleryContainer {
  margin: 20px;
  width: 100%;
}

.portfolioFilter a.current {
    font-weight:bold;
}

.thmb-panel {
  border:2px solid #D3D3D3;
  border-radius:10px;
}

img {
    margin:2px;
}

.pimage {
    height:250px;
    width:250px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.pstats {
    margin-left: auto;
    margin-right: auto;
    background-color: #D3D3D3;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
